
/* Notification center */

.blurredBG, #main_window, .blurredBG.low, .blurredBG.normal {
    background: rgba(36, 40, 59, 0.8);
}

.noti-center.time {
    font-size: 40px;
}

/* Notifications */

.title {
    font-weight: bold;
    font-size: 16px;
}

.appname {
    font-size: 12px;
}

.time {
    font-size: 12px;
}

.blurredBG.notification {
    /* background:  rgba(125, 207, 255, 0.8); */
    background:  rgba(36, 40, 59, 0.8);
}

.blurredBG.notification.critical {
    background: rgba(247, 110, 142, 0.7);
}

.notificationInCenter.critical {
    /* background: rgba(155, 0, 20, 0.5); */
    background: rgba(247, 118, 142, 0.5);
}

/* Labels */

label {
    color: #a9b1d6;
}

label.notification {
    color: #c0caf5;
}

label.critical {
    color: #1d202f;
}
.notificationInCenter label.critical {
    color: #a9b1d6;
}


/* Buttons */

button {
    background: transparent;
    color: #a9b1d6;
    border-radius: 3px;
    border-width: 0px;
    background-position: 0px 0px;
    text-shadow: none;
}

button:hover {
    border-radius: 3px;
    background: rgba(168,177,214, 0.2);
    border-width: 0px;
    border-top: transparent;
    border-color: #f00;
    color: #c0caf5;
}


/* Custom Buttons */

.userbutton {
    background: rgba(168,177,214, 0.15);
}

.userbuttonlabel {
    color: #c0caf5;
    font-size: 12px;
}

.userbutton:hover {
    background: rgba(168,177,214, 0.2);
}

.userbuttonlabel:hover {
    color: #111;
}

button.buttonState1 {
    background: rgba(168,177,214, 0.5);
}

.userbuttonlabel.buttonState1 {
    color: #fff;
}

button.buttonState1:hover {
    background: rgba(168,177,214, 0.4);
}

.userbuttonlabel.buttonState1:hover {
    color: #111;
}

button.buttonState2 {
    background: rgba(255,255,255,0.3);
}

.userbuttonlabel.buttonState2 {
    color: #111;
}

button.buttonState2:hover {
    background: rgba(168,177,214, 0.3);
}

.userbuttonlabel.buttonState2:hover {
    color: #000;
}


/* Images */

image.deadd-noti-center.notification.image {
    margin-left: 15px;
}
